

/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  font-family: 'PT Sans', sans-serif;

  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  position: relative;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
h2 {
  color: #242424;
  width: 100%;
  line-height: 1;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
}
p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  color: white;
  margin: 0 0 1.03571em 0;
}

/*--------------------*/

.section__wrap {
  background: black;
}
.section {
  max-width: 1170px;
  padding: 40px 15px 0;
  margin: 0 auto 35px auto;
}
.section_padding-top {
  display: flex;
  padding: 49px 15px 0 15px;
  justify-content: space-between;
}
.header__wrap {
  width: 100% !important;
  position: fixed;
}
.header {
  max-width: 1170px;
  padding: 7px 15px 0 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.logo {
  display: flex;
  width: 150px;
  margin-right: 40px;
  span {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    font-size: 33px;
    padding: 3px 5px 3px;
  }
  .logo__hi-part {
    background: #069cfa;
    color: #fff;
  }
}
.header__navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      text-align: center;
      a {
        color: #fff;
        line-height: 1.8em;
        font-weight: 700;
        font-size: 15px;
        padding: 8px 10px;
        transition: all 0.2s ease-in 0.01s;
        &:hover {
          color: #069cfa;
        }
        &.active {
          color: #069cfa;
        }
      }
    }
  }
}
.header__phone-button {
  padding: 2px 0 0 0;
  text-align: center;
  font-family: PTSansSerif,sans-serif;
  font-size: 1.1em;
  color: #242424;
  line-height: 1.8em;
  font-weight: 400;
  button {
    padding: 0;
    border-radius: 50%;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-appearance: button;
    font-weight: 400;
    line-height: normal;
    outline-style: none;
    font-size: 1em;
    text-transform: none;
    overflow: visible;
    margin: 0;
    text-align: center;
    i {
      width: 36px !important;
      height: 36px !important;
      padding: 9px !important;
      animation: glowing 1500ms infinite;
      color: #ffffff;
      background-color: #406ca5;
      border-radius: 50%;
      text-align: center;
      font-size: 21px;
      box-shadow: 0 0 60px -3px rgba(144, 138, 138, 0.82);
      display: inline-block;
      text-rendering: auto;
      text-transform: none;
    }
  }
}
.description {
  padding-top: 30px;
  width: 64.5%;
  height: 522px;
  background-image: url("../img/lektory_tokio_2.png");
  background-size: 330px 480px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.description_first-row {
  color: white;
  font-size: 21px;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  >span {
    margin-top: -30px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700 !important;
    .number {
      font-size: 50px;
    }
  }
  .first-row_title {
    line-height: 1;
  }
}
.description__date {
  text-shadow: 2px 2px black;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff700 !important;
  font-weight: 700;
}
.description__title {
  text-shadow: 2px 2px black;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1em;
  color: #fff;
  font-size: 38px;
}
.program-form {
  margin-top: 95px;
  width: 31.5%;
  height: 322px;
  padding: 20px 40px 10px;
  background: rgba(10, 9, 23, 0.92) !important;
  input {
    border-bottom: 2px solid #ffffff;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 13px;
    transition: 0.3s;
    background: none;
    color: white;
    line-height: 38px;
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 13px;
    &:focus {
      background: white;
      color: #333;
    }
  }
}
.program-form__title {
  line-height: 1;
  font-size: 15px;
  width: 100%;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  text-transform: uppercase;
  display: flex;
  opacity: 1;
  color: #fff700;
  text-shadow: 0 22px 46px rgb(13, 11, 38);
  cursor: pointer;
  animation: utp-dop 1.35s infinite cubic-bezier(0.66, 0, 0, 1);
  margin-bottom: 30px;
}
.self-data {
  margin-bottom: 20px;
}
.btn-program {
  box-shadow: none;
  font-size: 13px;
  line-height: 29px;
  width: 100%;
  background: rgba(37, 37, 39, 0);
  border: 2px solid #069cfa;
  color: #069cfa;
  margin: 0 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  animation: utp-one 1.25s infinite cubic-bezier(.66, 0, 0, 1);
  &:hover {
    background: #069cfa;
    color: #fff;
  }
}
.card-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card {
  position: relative;
  width: 31.5%;
  padding: 30px;
  background-color: #0a0917;
  padding-bottom: 70px;
}
.card_width-50 {
  width: 48.6%;
}
.card_width-45 {
  width: 48%;
}
.card__info-block {
  margin-bottom: 10px;
}
.card__title {
  margin: 0;
  width: 100%;
  padding: 0 0 10px;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 28px;
  color: white;
}
.card__sub-title {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 700;
  color: #969696;
}
.card__date-events {
  font-size: 14px;
  line-height: 19px;
  font-weight: 800;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  span {
    color: #069cfa;
  }
}
.card__description-events {
  font-size: 15px;
  font-weight: 800;
  line-height: 19px;
  color: #fff;
  z-index: 3;
  width: 90%;
  p {
    padding-bottom: 10px;
    font-size: 15px !important;
    z-index: 3;

    line-height: 1 !important;
    margin: 0 !important;
  }
}

.card__show-more {
  padding: 2px 0px;
  background: none;
  font-size: 15px;
  color: #069cfa;
  font-weight: 700;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.btn-program-height {
  line-height: 40px;
  position: absolute;
  width: 83%;
  bottom: 30px;
}
.card__photo {
  position: absolute;
  width: 165px;
  height: 165px;
  top: 35px;
  right: 0;
  z-index: 2;
  img {
    width: 165px;
    height: 165px;
  }
}
.card__photo_large {
  top: 40px;
  width: 275px;
  height: 275px;
  img {
    width: 275px;
    height: 275px;
  }
}
.section__button {
  margin: 0 auto;
  background: #069cfa none repeat scroll 0 0;
  color: #fff;
  animation: utp-one 1.25s infinite cubic-bezier(.66, 0, 0, 1);
  height: 50px;
  line-height: 50px;
  width: 230px;
  border-radius: 0px;
  box-shadow: 6px 6px 21px -3px #69add861;
  font-weight: 600;
  font-size: 18px;
  text-transform: inherit;
  text-align: center;
}
.section__title {
  padding: 0 0 40px 0;
}

.section__title_left-margin {
  margin-left: -50px;
}
.title__first-row {
  text-shadow: none;
  width: 100%;
  color: #fff;
  line-height: 1;
  font-size: 32px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}
.title__second-row {
  margin: 0 0 0 146px;
  display: block;
  color: #069cfa;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.section_flex-end {
  display: flex;
  justify-content: flex-end;
}
.inner-section {
  width: 70%;
  position: relative;
  padding: 0 0 0 50px;
}
.participation-block_wrap {
  display: flex;
  justify-content: space-between;
}
.participation-block {
  box-shadow: 0 0 31px -2px #383434;
  text-align: center;
  padding: 40px;
  color: #fff;
  margin: 0 0 40px;
  width: 48%;
  background: rgba(10, 9, 23, 0.92);
}
.participation-block_fixed-height {
  height: 310px;
}
.participation-block__title {
  padding: 0 0 60px;
  font-size: 28px;
  width: 100%;
  font-weight: 800;
  text-transform: uppercase;
}
.participation-block__cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.cost-description {
  font-size: 15px;
  font-weight: 800;
  line-height: 19px;
  color: #fff;
  z-index: 3;
  width: 55%;
  text-align: left;
}
.cost-price {
  margin: 0px 0 0 0px;
  font-weight: 700;
  float: left;
  font-size: 25px;
  color: #069cfa;
  letter-spacing: 1px;
  padding: 0px 0px 0px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.btn-program-stand {
  margin-top: 30px;
  line-height: 40px;
}

.special {

}
.special__round {
  position: absolute;
  left: -280px;
  top: 190px;
  border: 4px solid #069cfa;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.round__exclamation {
  position: absolute;
  color: #272727;
  font-size: 37px;
  font-weight: bold;
  left: -10px;
  top: -10px;
  background: #069cfa;
  border-radius: 50%;
  border: 5px solid #272727;
  width: 46px;
  height: 45px;
  text-align: center;
  line-height: 0.8;
}
.round__info {
  color: #fff;
  width: 208px;
  line-height: 1;
  position: absolute;
  bottom: 10px;
  left: 40px;
  text-transform: uppercase;
  text-align: left;
  background: #242424;
  font-size: 14px;
  padding: 4px;
}
.section__wrap_another-color {
  background: #0a0917 !important;
}
.section_bottom-padding {
  padding: 40px 15px 30px 15px !important;
  margin: 0 auto 0 auto !important;
}
.section_bottom-padding-small {
  padding: 40px 15px 20px 15px !important;
  margin: 0 auto 0 auto !important;
}
.player {
  width: 100%;
  height: 330px;
  background: black;
  background-image: url("../img/sddefault.jpg") ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -35px;
}

.card_width-45_right-margin {
  margin-right: 23px;
}
.padding-top {
  padding-top: 50px;
}
.large-card-title {
  text-align: center;
  font-size: 40px;
  margin: 0 0 14px;
  font-weight: 800;
  padding: 50px 0 0 0;
  color: #242424;
  text-transform: uppercase;
}
.medium-card-title {
  text-align: center;
  font-size: 21px !important;
  width: 100%;
  margin: 0 0 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #242424;
}
.title-info {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  padding: 20px 0 10px;
  color: #333;
}
.sales-list {
  padding-bottom: 20px;
  li {
    width: 100%;
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 17px;
    color: #505050;
    span {
      font-size: 28px;
      line-height: 22px;
      display: inline-block;
      color: #069cfa;
      text-shadow: 2px 2px 4px #bdbdbd;
      font-weight: 700;
    }
  }
}
.margin-top-block {

}
.section_without-padding {
  padding: 0 15px 0;
  margin: 0 auto 0 auto;
}
.card-flex-wrap {
  display: flex;
  justify-content: space-between;
}
.registration-title-wrap {
  padding: 20px 0;
}
.registration__title {
  width: 100%;
  color: #fff;
  line-height: 1;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.registration__title_another-color {
  color: yellow;
}

.cost-list {
  border-right: 2px solid #656565;
  padding-top: 20px;
  li {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 5px 0 30px;
    line-height: 1;
    color: white;
    .list-title {
      display: block;
      text-transform: uppercase;
      font-size: 19px;
      color: white;
      font-weight: 700;
      padding-bottom: 10px;
    }
    .list-price {
      font-size: 33px;
      padding: 0 10px 0 5px;
      color: #fff700 !important;
      span {
        font-size: 23px;
      }
    }
  }
}
.coast-list_right-border {
  border-right: 2px solid #656565;
}
.form-registration {
  padding-top: 0;
}
.form-registration__row {
  padding-bottom: 10px;
  label {
    color: #fff;
    display: block;
    font-weight: 600;
    margin-bottom: 0.25em;
    font-size: 1.1em;
    line-height: 1.8em;
  }
  input {
    background: #fff !important;
    font-size: 1em;
    transition: 0.3s;
    border-bottom: 2px solid #ffffff;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    line-height: normal;
    width: 100%;
    padding: 12px 10px;
    -webkit-appearance: none;
  }
}
.section__button_registration {
  margin: 20px auto 0 auto;
}
.card_width-50_margin-right {
  width: 45.9%;
  margin-right: 33px;
}
.title__first-row_another-color {
  color: #242424;
}

.faq-block__row {
  margin-bottom: 10px;
}
.faq-block__question {
  background-color: #e0e0e0;
  padding: 19px;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.07);
  width: 100%;
  color: #333;
  font-weight: 600;
}
.faq-block__answer {
  padding: 10px 20px 10px;
  font-size: 17px;
  line-height: 1.3;
  margin: 0 0 0;
  color: #242424;
  font-weight: 400;
  text-align: left;
  width: 100%;
  margin-left: 0px;
  margin-top: -3px;
  background-color: #eaeaea;
  overflow: hidden;
  transition: max-height .2s ease-out;
  border-radius: 3px;
  a {
    color: #069cfa;
  }
}
.section__title_small-bottom-padding {
  padding: 0 0 30px 0;
}
.footer-wrap {
  background-color: #111111;
}
.footer {
  max-width: 1170px;
  padding: 40px 0 40px 0;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: start;
}
.footer__logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer__logo {
  color: #069cfa;
  text-align: left;
  font-size: 33px;
  font-weight: 800;
  padding: 0 0 10px 0;
}
.footer__logo-info {
  line-height: 1.2em;
  display: inline-block;
  padding: 0 0 10px 10px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #b5b5b5;
  font-weight: 400;
  float: left;
  width: calc(100% - 103px);
}
.footer__contacts {
  width: 30%;
  li {
    span {
      font-size: 15px;
      color: #b5b5b5;
      display: inline-block;
      padding: 0 0 10px;
      line-height: 1.8em;
    }
    a {
      display: inline-block;
      padding: 0 0 10px;
      font-size: 15px;
      color: #b5b5b5;
      width: 100%;
      &:hover {
        color: #069cfa;
      }
    }
  }
}
.social-list {
  display: flex;
  padding-bottom: 10px;
  li {
    margin-right: 10px;
    a {
      font-size: 24px;
      width: 44px;
      height: 44px;
      text-align: center;
      padding: 9px 0 0 0;
      border-radius: 50%;
      color: #bdbdbd;
      display: inline-block;
      transition: 0.3s;
      &:hover {
        background: #069cfa;
        transition: 0.3s;
      }
    }
  }
}
.address-list {
  .company {
    color: #069cfa;
    font-weight: 600;
    font-size: 14px;
    padding: 0 0 15px !important;
  }
  li {
    display: inline-block;
    padding: 0 0 6px;
    font-size: 15px;
    color: #b5b5b5;
    width: 100%;
  }
}
.footer__speakers {
  width: 30%;
}
.footer-section-title {
  line-height: 1;
  width: 100%;
  color: #069ced;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 0px 20px 5px;
  text-transform: uppercase;
}
.footer__speakers-wrap {

}
.speakers__row {
  display: flex;
}
.speaker {
  width: 155px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  background-size: cover;
  position: relative;
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.first-speaker {
  background-image: url("../img/speaker_1.png");
}
.second-speaker {
  background-image: url("../img/speaker_2.png");
}
.third-speaker {
  background-image: url("../img/speaker_3.jpg");
}
.fourth-speaker {
  background-image: url("../img/speaker_4.jpg");
}
.fifth-speaker {
  background-image: url("../img/speaker_5.jpg");
}
.sixth-speaker {
  background-image: url("../img/speaker_6.jpg");
}
.footer__navigation-section {
  width: 30%;
}
.footer__navigation {
  li {
    a {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}